.rules-window{
    z-index: 1000;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.5); 
    display: none;
    justify-content: center;
    align-items: center;
}
.visible-rules{
    display: flex;
}
.rules{
    width: 600px;
    
}
.rules-header{
    border-radius: 32px 32px 0 0 ;
    position: relative;
    width: 100%;
    background: rgba(100, 31, 22, 1);
    padding: 20px 38px 20px 101px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rules-header h2{
    color:rgba(253, 216, 168, 1) ;
    font-size: 40px;
}
.button-close{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}
.button-close span,
.button-close span::before{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: rgba(253, 216, 168, 1);
}
.button-close span{
    transform: rotate(-90deg);
}
.button-close span::before{
    transform: rotate(90deg);
}
.rules-content{
    border-radius: 0 0 32px 32px;
    background: rgba(253, 216, 168, 1);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 70px 70px 50px;
    color: rgba(100, 31, 22, 1);
    font-size: 30px;
}